.my-modal {
  min-width: 90%;
  position: relative;
  border: 0;
  outline: none;

  @media (min-width: 992px) {
    min-width: 600px;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 700px;
  position: relative;
}

.text {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.svgimage {
  height: 10px;
  width: 10px;
}

.close-button {
  position: absolute;
  top: -13px;
  right: -9px;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  z-index: 99;
  background-color: rgb(251, 23, 23);
  border: 0;
  outline: none;
  transition: opacity 0.25s ease-in;

  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }

  .svgimage {
    display: inline-block;
    width: 15px;
  }
}

.club-Details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
