.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border-radius: $border-radius;
  overflow: hidden;

  .thead {
    position: sticky;
    z-index: 100;

    .trHead {
      background: $bg;

      .th {
        padding: $sm-spacing;
        color: $text;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 14px;

        &:not(:last-of-type) {
          border-right: 1px solid $bg2;
        }
        &:first-of-type {
          width: 1%;
          white-space: nowrap;
        }
      }
    }
  }

  .tbody {
    .trBody {
      background: $white;

      .td {
        padding: $sm-spacing;
        border: 1px solid $bg2;
        font-size: 14px;
      }
    }
  }
}

.columnContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  padding: 0 20px;

  .image-holder {
    width: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  p {
    flex: 1;
    padding-left: 15px;
  }
}

.tableFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .tableFooter-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }

  .text-bold {
    font-size: 15px;
    color: $primary;
  }

  p {
    margin-right: 20px;
  }
}

.errordata {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  white-space: nowrap;
}

.tag {
  border: 1px solid #49ff00;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #49ff00;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &.loss-tag {
    background-color: red;
  }
  &.draw-tag {
    background-color: gray;
  }
}
