$white: rgb(255, 255, 255);
$bg: rgb(245, 245, 245);
$bg2: rgb(237, 237, 237);
$bg3: rgb(214, 214, 214);
$text: rgb(33, 33, 33);
$primary: #874d8c;
$secondary: #1987d5;

$border-radius: 8px;

$md-spacing: 16px;
$sm-spacing: 8px;
$lg-spacing: 32px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;

$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
  0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
  0 8px 16px rgba(0, 0, 0, 0.11);

@import "base/typography";

@import "components/table";
@import "components/modal";

@import "layouts/header";
@import "layouts/common";