.container {
  padding: 20px 20px 20px 20px;
}

.imageholder {
  display: block;
  margin: 20px 20px;
}

.arrow-up {
  color: rgb(153, 251, 5);
  width: 8px;
}
.arrow-down {
  color: red;
  width: 8px;
}
.arrow-dot {
  color: gray;
  background-color: gray;
  width: 2px;
  border: 2px solid gray;
  border-radius: 6px;
}

.icon-holder {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clickModel {
  cursor: pointer;
}
