nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 40px;

  .list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: none;
      color: #38003d;
    }
  }
}
